.gallery{
  .hacker-wrapper{
    @include flex;
    @include justify-flex-center;
    @include wrap-flex;
    @include row-direction-flex;
  }
  img{
    margin-top: 20%;
    width: 220px;
    height: 220px;
    position:relative;
    
  }
  div {
    padding: 0 1% 2%;
  }
  .overlay-hover{
    margin-top: 20%;
    background:rgba(0,0,0,.6);
    width:220px;
    height: 220px;
    position: absolute;
    padding: 0 1% 2;
    top:0;
    left:2px;
    text-align:center;
    opacity:0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
    @include flex;
    @include justify-flex-center;
    @include align-flex-center;
    @include row-direction-flex;
    @include wrap-flex;
  }
  
  .fa-paw{
    margin:0;
    color:$gray;
    font-size: 4rem;
  }
  
  .overlay-hover:hover {
    opacity:1;
  }
  
  
  
}
