header{
  background: white;
  background-repeat: no-repeat;
  background-size: cover;
  
  h2{
    margin-bottom: 10%;
  }
  
  .flex{
    margin-left:3%;
    @include flex;
    @include row-direction-flex;
    
  }
  img {
    height:170px;
    width: 112px;
    position: fixed;
    right: 0;
    z-index: 1;
  }
  @media (max-width: 945px){
    img{
      position: absolute;
      right:0;
    }
  }
  @media(max-width: 620px){
    img{
      visibility: hidden;
      width:0;
      height:0;
    }
  }
}
