@import "normalize";
@import "magnific-popup";
@import "variables";
@import "mixin";
@import "typography";
@import "header";
@import "gallery";
@import "modal";
@import "footer";
*{
  box-sizing: border-box;
}

body{
  background: $gray;
}
a {
  position:relative;
}

.site-container{
  max-width:1110px;
  margin: 0 auto;
  background: white;
}
